@import './cell.css';
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@font-face {
  font-family: Quartz;
  src: url(fonts/Quartz.ttf), url(fonts/quartz\ regular.ttf), url(fonts/QuartzItalic.ttf), url(fonts/QuartzRegular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  background: #eee;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

output {
  font-family: Quartz, monospace;
  font-size: 26px;
  color: red;
  background-color: #000;
}

button {
  background-color: #ddd;
  background-image: url("images/smile2.png");
  width: 29px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin: 0 30px;
}

#board {
  width: 256px;
  height: 256px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #7b7b7b;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

#board td {
  width: 16px;
  height: 16px;
}

.container {
  padding: 5px;
  width: 256px;
  display: flex; 
  justify-content: space-between;
  border: 2px solid #7b7b7b;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

.box {
  padding: 5px;
  background-color: #bdbdbd;
  border: 2px solid #7b7b7b;
  border-top-color: #fff;
  border-left-color: #fff;
}

